
<script>
  window.logoURL = '<%= image_url('ForMuLogo.png')%>'
  window.trashURL = '<%= image_url('trash.png')%>'
  window.trashSelectedURL = '<%= image_url('trashSelected.png')%>' 
</script>

<div id="main">
</div>
