
main.formContainer {
  width: 900px;
  padding: 4% 8% 4%;
  background: white;
  /*min-height: 600px;*/
  min-height: 800px;
  border: 1px solid darkgrey;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  position: relative;
}

p.notFoundMessage {
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 200px;
  width: 100%;
}

/*$("[id^=256_input]").value*/

main p.instructions {
    margin-top: 0px;
    margin-left: 10px;
    color: grey;
}


main.formContainer .respondFieldWrapper:first-of-type {
  margin-top: 100px;
}

main.formContainer .respondFieldWrapper {
  margin-bottom: 40px;
}
/*
main.formContainer input, textarea {
    color: transparent;
}*/

main.formContainer textarea.paragraph {
  height: 50px;
  word-wrap: break-word;
}


main.formContainer .respondFieldWrapper .radiochoice {
    margin-bottom: 0px;
}

main.formContainer .respondFieldWrapper>.inputWrapper>div>div {
  margin-bottom: 20px;
}

main.formContainer label.checkbox, label.radio {
    // margin-bottom: 10px;
    padding: 5px;
    display: block;
}

main.formContainer hr {
  margin: 100px 0px 100px 0px;
}

main.formContainer label.checkboxchoice, label.radiochoice{
    margin-bottom: 5px;
    padding: 5px;
    display: block;
}

main.formContainer input[type="checkbox"] {
  width: 80px;
  margin-top: 0px;
  float: left;
}

main.formContainer input.radio {
  width: 80px;
  margin-top: 0px;
  float: left;
}
