/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  font-family: sans-serif;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

li {
  margin-left: 0px;
}

.container::after {
  content:"";
  display:block;
  clear:both;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

input:hover {
  cursor: default;
}
button:focus, input:focus {
  outline: 0px;
  cursor: default;
}

textarea {
  color: black;
}

body {
  background: rgb(255, 255, 245);
}

a {
  text-decoration: none;
  color: black;
}
