// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  position: relative;
  padding:0px;
}

navbar {
  position: relative;
  top: -10px;
  left: -10px;
  display: block;
  margin: 0px;
  padding: 20px;
  background: #e66760;
  height: 22px;
  width: 100%;
}

navbar header {
    width: 70%;
    margin: auto;
    font-size: 20px;
    color: white;
}

navbar img {
  margin-top: -5px;
  width: 100px;
}


div.skyskape {
  position: absolute;
  z-index: -1;
  top: 0px;
  margin-left: -10px;
  width: 110%;
  height: 400px;
  background: #e86f69;
}

#login {
  postiion: relative;
  float: right;
  display:block;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  margin-right: 30px;
}

#logout {
  position: relative;
  float: right;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}
