
div.paneContainer {
  position: absolute;
  width: 80%;
  max-width: inherit;
  min-height: 600px;
}

div.paneContainer input {
  /*float: right;*/
  margin-top: 15px;
  padding: 4px;
  width: calc(100% - 25px);
  height: 15px;
}
