
div.paneContainer {
  position: relative;
  width: 100%;
}

div.tabPane {
  position: absolute;
  display: block;
  float: left;
  width: 30%;
  height: 600px;
  background: #FFCD45;
  border-left: 2px solid lightgrey;
  border-bottom-left-radius: 10px;
}

div.tabPane ul {
  margin-bottom: 30px;
  padding-left: 20px;
}

div.tabPane li {
  display: block;
  padding: 3px 10px 3px 10px;
  margin-top: 8px;
  margin-right: 10px;
  float:left;
}

div.tabPane li.inFocus {
  background: #FFFCB3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div .formViewPane {
    display: block;
    float: right;
    padding: 30px;
    width: calc(70% - 60px);
    height: 540px;
    border-bottom: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    border-bottom-right-radius: 10px;
}

div .formViewPane {
  margin-left: 30px;
}

div .formViewPane h1.formTitle {
  padding: 10px 10px 10px 0px;
}

div.formViewPane hr {
  width: 98%;
  margin-right: 20px;
  border-top-style: dotted;
  border-color: lightgrey;
}


div .tabForm div {
  padding: 20px;
}

div .tabForm div input {
  /*float: right;*/
  margin-top: 15px;
  padding: 4px;
  width: calc(100% - 25px);
  border-radius: 4px;
  height: 15px;
}
