
div.designTab li.fieldChoice  {
  background: linear-gradient(to bottom,  #f6f8f9 20%, #f5f7f9 90%, #d7dee3 100%);
  border: 1px solid #d7dee3;
  border-radius: 10px;
  width: 85px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  text-align: center;
}

div.designTab li.fieldChoice:nth-child(2n) {
  float: left;
}

div.designTab li.fieldChoice:nth-child(2n+1) {
  float: right;
}


div.designTab li.fieldChoice:hover {
  border: 2px solid #d7dee3;
  margin-left: calc(5% - 2px);
  margin-top: 18px;
}

div.designTab div.fieldSelectorGroup {
  border: 1px inset rgba(230, 172, 0, .25);
  background: rgba(230, 172, 0, .05);
  margin: 20px 30px 20px 30px;
  padding: 30px 30px 50px 30px;
}
