div .tabForm {
  position: fixed;
width: 400px;
}

div .tabForm div {
  padding: 20px;
}

div .tabForm div input, textarea {
  /*float: right;*/
  margin-top: 15px;
  padding: 4px;
  width: calc(100% - 25px);
  border-radius: 4px;
}

div .tabForm div textarea.paragraph {
  height: 60px;
}


div .tabForm div.choices .inputWrapper {
  padding: 5px 20px 5px 20px;
}

div .tabForm div.choices input, textarea {
  margin-top: 5px;
}

div #addChoiceButton {
  margin: auto;
  display: block;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 30px;
  padding:10px;
}

div #addChoiceButton:hover {
  color: red;
  margin-top: 7px;
  font-size: 35px;
}

div .deleteButton {
  width: 40px;
  opacity: .3;
  display: block;
  /*position: fixed;*/
  /*bottom: 20%;*/
  margin: auto;
  margin-top: 50px;
}

div .deleteButton:hover {
  opacity: 1;
}

div .tabForm p {
  text-align: center;
}
