div .tabForm {
  position: fixed;
width: 400px;

}

div .tabForm div {
  padding: 20px;
}

div .tabForm div input, textarea {
  /*float: right;*/
  margin-top: 15px;
  padding: 4px;
  width: calc(100% - 25px);
  border-radius: 4px;
}

div .tabForm div textarea.paragraph {
  height: 60px;
}

div.choices {
  bottom: 200px;
  max-height: 250px;
  overflow: auto;
}

div div.choiceRow {
  margin: 0px;
  padding: 0px;
}

div.choices::-webkit-scrollbar {
  width: 9px;
  height: 5px;
}
/*
div.choices:hover::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}*/
div.choices:hover::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 10px double #eeb00d;
  border-radius: 20px;*/
}

div .tabForm div.choices .inputWrapper {
  padding: 5px 10px 5px 10px;
  width: 80%;
  float: left;
}

div .tabForm div.choices input, textarea {
  margin-top: 5px;
}

div .tabForm div.choices img.choiceDeleteButton {
  height: 20px;
  width: auto;
  margin-top: 8px;
  padding: 5px 0px;
  float: left;
  opacity: .3;
  cursor: pointer;
}

div .tabForm div.choices img.choiceDeleteButton:hover {
  opacity: 1;
}

div #addChoiceButton {
  margin: auto;
  display: block;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 30px;
  padding:10px;
}

div #addChoiceButton:hover {
  color: red;
  margin-top: 5px;
  font-size: 35px;
}

div .deleteButton {
  width: 40px;
  opacity: .3;
  display: block;
  /*position: fixed;*/
  /*bottom: 20%;*/
  margin: auto;
  margin-top: 50px;
  /*margin-top: -200px;*/
}

div .deleteButton:hover {
  opacity: 1;
}

div .deleteButon:after {
  content: "";
  display: block;
  clear: both;
}

div .tabForm p {
  text-align: center;
}
