div .formViewPane {
    display: block;
    float: right;
    padding: 30px;
    width: calc(65% - 60px);
    height: 100%;
    min-height: 600px;
    border-bottom: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
    border-bottom-right-radius: 10px;
}

div .formViewPane {
  margin-left: 30px;
}

div .formViewPane h1.formTitle {
  padding: 10px 10px 10px 0px;
}

div.formViewPane hr {
  width: 98%;
  margin-right: 20px;
  border-top-style: dotted;
  border-color: lightgrey;
}

div .formViewPane input {
  display: block;
  width: 50%;
}

div .formViewPane input.number {
  display: block;
  width: 50px;
}

div .formViewPane .inputWrapper {
  padding: 20px;
}

div .formViewPane .inputWrapper:hover {
  background: rgb(240,242,225);
  transition: background .2s;
}

div .formViewPane .dropTarget {
  z-index: 20;
  position: relative;
  height: 40px;
  width: 100%;
  margin: -20px -50px -20px 0px;
  transition: margin 1s;
}

/*div .formViewPane .dropTarget:last-of-type {
  min-height: 200px;
}*/

div .formViewPane .dropTarget.underDragged {
  margin: 0px 0px 0px 0px;
  border: 1px dashed lightgrey;
  background: rgb(240,242,225);
  transition: margin, border 10s;
}
