
.authformInner {
  position: relative;
  display: block;
  top: 25px;
  left: 25px;
  // margin-left:-420px;
  // margin-top: -200px;
  border-radius: 28px;
  padding-left:25px;
  padding-top:10px;
  // margin: auto;
  border: 1px solid #ebdb74;
  background: white;
  height: 360px;
  width: 740px;
}

.authformOuter {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  margin-left:-410px;
  margin-top: -205px;
  border-radius: 50px;
  background: #fde75d;
  height: 430px;
  width: 820px;
}

form.login {
  margin-top:-10px;
  padding: 5px;
  width: 365px;
}
form.login h2 {
  padding:-10px;
  margin-bottom:15px;
}

form.login hr {
  border:none;
  border-top: 1px dotted grey;
  margin-bottom: 20px;
}

form.login .fieldBox {
  height: 30px;
  width:95%;
  margin-bottom: 20px;
  padding-top:5px;
  height: 55px;
}

form.login .fieldBox.yesErrors {
  background: pink;
}

form.login .fieldBox.yesErrors label {
  color: red;
}

form.login input {
  // display: block;
  // margin-bottom:;
  /*background: white;*/
  width: 99%;
}

form.login span.errorNote {
  font-size: 15px;
  color: red;
}

form.login button, form.login a {
  display: block;
  text-align: center;
  width: 80px;
  vertical-align: middle;
  height: 30px;
  float: right;
  margin-right: 10px;
  font-size: 16px;
  /*padding: 4px;*/
  vertical-align: center;
  background: linear-gradient(to bottom,  #f6f8f9 20%, #f5f7f9 40%, #d7dee3 100%);
  border: 1px solid #d7dee3;

  /*background: lightgrey;*/
  border-radius: 10px;
  /*border: 1px solid grey;*/
}

form.login a {
  padding-top: 5px;
  height: 25px;
}

#largeSignUp {
  float: right;
  width: 250px;
  margin: 40px;
  height: 250px;
  border: 3px solid #fde75d;
  border-radius: 15px;
  background: #FFFCB3;
  text-decoration: none;
  text-align: center;
}

#largeSignUp:hover {
  background: #F0F2E1;
  border-color: #DEEB8D;
}

#largeSignUp:hover hr {
  border-color: #DEEB8D;
}

#largeSignUp h1 {
  font-size: 20px;
  color: green;
  margin-top:35px;
}

#largeSignUp h1:first-child {
  color: red;
}

#largeSignUp h2 {
  font-size: 15px;
  color: black;
  margin-bottom:30px;
}

#largeSignUp hr {
  width: 80%;
  border-top: 3px solid #fde75d;
}
