
div.skyscape {
  position: absolute;
  top: 52px;
  margin-left: -10px;
  width: 110%;
  height: 400px;
  background: #e86f69;
}

div.skyscape h1 {
  font-size: 40px;
  color: white;
  margin-top: 130px;
  margin-bottom: 50px;
  text-align: center;
  text-shadow: 2px 2px rgba(98, 81, 207, .2);
}

div.skyscape img.cloud1, img.cloud2, img.cloud3, img.cloud4 {
  width: 8%;
  position: fixed;
  opacity: .4;
}

div.skyscape img.cloud1, img.cloud2 {
  left: -300px;
}

div.skyscape img.cloud3, img.cloud4 {
  right: -300px;
}

div.skyscape img.cloud1.visible {
  top: 100px;
  left: 31%;
  transition: left 5s;
  transition-timing-function: cubic-bezier(.6, 0, 0, 1);
}

div.skyscape img.cloud2.visible {
  top: 200px;
  left: 21%;
  transition: left 5s;
  transition-timing-function: cubic-bezier(.6, 0, 0, 1);
}

div.skyscape img.cloud3.visible {
  top: 120px;
  right: 22%;
  transition: right 5s;
  transition-timing-function: cubic-bezier(.6, 0, 0, 1);
}

div.skyscape img.cloud4.visible {
  top: 220px;
  right: 13%;
  transition: right 5s;
  transition-timing-function: cubic-bezier(.6, 0, 0, 1);
}

div.skyscape img.mammoth {
  position: absolute;
  width: 200px;
  bottom: -23px;
  right: 31%;
}


div.skyscape .signup {
  width: 200px;
  margin: auto;
  font-size: 30px;
  display: block;
  color: white;
  text-align:center;
  text-decoration: none;
  border: 1px solid white;
  background: #00cc00;
  height: 35px;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

div.skyscape .signup:hover {
  background: #00e600;
}
