// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
height: 100%;
width: 100%}

body {
  position: relative;
  padding: 0px;
  margin: 0px;
}

div.applicationMain navbar {
  position: relative;
  top: -10px;
  left: -10px;
  display: block;
  margin: 0px;
  padding: 20px;
  background: #e66760;
  text-shadow: 1px 1px rgba(98, 81, 207, .3);
  height: 22px;
  width: calc(100% - 30px);
}

navbar header {
    width: 70%;
    margin: auto;
    font-size: 20px;
    color: white;
}

navbar img {
  margin-top: -5px;
  width: 100px;
}


div.applicationMain navbar a {
  position: relative;
  width: 140px;
  float: right;
  display:block;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  text-align: center;
  margin-right: 20px;
}

div.applicationMain navbar .logoLink {
  float:left;
}

#login:hover, #loginGuest:hover {
  color: yellow;
  // margin-right: 17px;
}

#logout {
  position: relative;
  float: right;
  padding: 10px;
  margin-top:-10px;
  outline: none;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}
